.example-form {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.info-pedido {
  width: 65%;
  height: 160px;
  padding: 10px;
  background: #d9d9d9;
  border-radius:5px;
}

.obs-pedido{
  width: 35%;
  height: 160px;
  padding: 10px;
  background: #d9d9d9;
  border-radius:5px;
}

.header-pedido{
  margin: 20px;
  display: flex;
  gap: 15px;

}

.button-container {
  display: flex;
  justify-content: center;
}
.button-container button {
  border-radius: 5px;
  background-color: #FEA015;
  color: #d9d9d9;
  font-size: large;
}
