<app-header> </app-header>

<div>
  <div class="header-pedido">
    <div class="info-pedido">
      <p>Responsável pelo pedido: [usuario]</p>
      <p>Data de solicitação: [data de hoje]</p>
<!--       Barra de pesquisa -->
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Pesquisar produtos</mat-label>
          <input
            type="text"
            placeholder="Produto"
            aria-label="Number"
            matInput
            [(ngModel)]="searchItem"
            [matAutocomplete]="auto"
            (keyup)="search()"
          />
          <mat-autocomplete #auto="matAutocomplete">
            @for (option of allProducts; track option.idProduto) {
            <mat-option [value]="option">{{ option.nome }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>

    <div class="obs-pedido">
      <p>Observações gerais sobre o pedido:</p>
      <mat-form-field class="example-full-width">
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </div>

<!-- Lista de itens adicionados no carrinho -->
 <hr>
  <div
    *ngFor="let item of pedidoService.getCart()"
    mat-button
    (click)="openDialog(item)"
  >
    <h2>{{ item.nome }}</h2>
    <p>{{ item.descricao }}</p>
    <img [src]="item.urlImagem" alt="{{ item.nome }}" />
    <button (click)="removeFromCart(item)">Remover do carrinho</button>
    <div>
      <button (click)="decreaseQuantity(item)">-</button>
      <span>{{ item.quantidade || 0 }}</span>
      <button (click)="increaseQuantity(item)">+</button>
    </div>
  </div>
</div>

<hr>
<div class="button-container">
  <button mat-fab extended>
    Finalizar pedido
  </button>
</div>

<app-footer></app-footer>
<router-outlet> </router-outlet>
