<app-header> </app-header>

<div>
  <div class="header-pedido">
    <div class="info-pedido">
      <mat-form-field>
        <mat-label>Responsável pelo pedido</mat-label>
        <input matInput [(ngModel)]="responsavel" />
      </mat-form-field>
      <p>Data de solicitação: {{ dataSolicitacao | date : "dd/MM/yyyy" }}</p>

      <!--       Barra de pesquisa -->
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Pesquisar produtos</mat-label>
          <input
            type="text"
            placeholder="Produto"
            aria-label="Number"
            matInput
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="searchItem"
            [matAutocomplete]="auto"
            (keyup)="search()"
          />
          <mat-autocomplete #auto="matAutocomplete">
            @for (option of allProducts; track option.idProduto) {
            <mat-option [value]="option.nome">{{ option.nome }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <button (click)="addToCart()">Adicionar</button>
    </div>

    <div class="obs-pedido">
      <p>Observações gerais sobre o pedido:</p>
      <mat-form-field class="example-full-width">
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <!-- Lista de itens adicionados no carrinho -->
  <hr />
  <div class="card" *ngFor="let item of addedItems" mat-button>
    <div class="card-body row">
      <img [src]="item.urlImagem" alt="{{ item.nome }}" />

      <div class="col">
        <h2>{{ item.nome }}</h2>
        <p>{{ item.descricao }}</p>
        <p>Sabor: {{ item.sabor }}</p>
      </div>

      <div class="quantity col">
        <p>Quantidade:</p>
        <button class="quantity-button" (click)="decreaseQuantity(item)">
          -
        </button>
        <span>{{ item.quantidade || 1 }}</span>
        <button class="quantity-button" (click)="increaseQuantity(item)">
          +
        </button>
      </div>

      <div class="observacao col">
        <p>Observação sobre o item:</p>
        <mat-form-field class="example-full-width">
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <div class="remove-button-container col">
        <button class="btn btn-secondary btn-sm" (click)="removeFromCart(item)">
          Remover do carrinho
        </button>
      </div>
    </div>
  </div>

  <hr />
  <div class="button-container">
    <button mat-fab extended>Finalizar pedido</button>
  </div>
</div>

<app-footer></app-footer>
<router-outlet> </router-outlet>
