<div class="produto-modal">
  <div class="produto-info">
    <div class="produto-imagem">
      <img src="{{ produto.urlImagem }}" href="" class="imagem-padrao" />
    </div>

    <div class="descricao">
      <div class="dropdown">
        <mat-form-field class="select-sabor">
          <mat-label>Escolha o sabor</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="sabor">
            @for (sabor of produto.sabor; track sabor) {
            <mat-option [value]="sabor">{{ sabor }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <p>{{ selectedValue }}</p>
      </div>

      <mat-form-field>
        <mat-label>Quantidade</mat-label>
        <input matInput type="number" [(ngModel)]="produto.quantidade" name="quantidade" />
      </mat-form-field>

      <button
        (click)="addToCart()"
        mat-button
        mat-dialog-close
        class="button-modal"
      >
        Adicionar produto
      </button>
    </div>
  </div>
</div>
