<!-- Navbar do Bootstrap -->
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #0E182B;">
  <div class="container-fluid ">
    <!-- Botão com a imagem do logo -->
    <a class="navbar-brand" href="#">
      <img src="./assets/logo.png" width="28" height="43" alt="Logo" class="logo"/>
    </a>
    <a class="navbar-brand" href="#" style="color: #FEA015;">Mascate</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#FEA015;">
            Olá [usuario]
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Configurações</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>
        <!-- Ícone de notificação como botão -->
        <li class="nav-item">
          <button class="btn btn-link p-0 notificacao" style="border: none;">
            <img src="./assets/notificacao.png" width="46" height="46" alt="Notificação" class="d-inline-block">
          </button>
        </li>
        <!-- Ícone do carrinho como botão -->
        <li class="nav-item">
          <button class="btn btn-link p-0 carrinho" style="border: none;">
            <img src="./assets/carrinho.png" width="46" height="46" alt="Carrinho" class="d-inline-block">
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
