.produtos {
  display: flex;
  padding: 0px 40px 25px 40px;
  justify-content: center;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 calc(33.333% - 20px);
}

.titulo-produtos{
  background-color: #FEA015;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
}

.countainer{
  margin: 20px;
}
