.product-card {
  max-width: 400px;
  cursor: pointer;
  width: 450px;
  height: 210px;
  background: rgba(14, 24, 43, 0.64);
  border-radius: 10px;
  display: flex;
}

.nome-produto {
  color: #FEA015;
  margin-left:5px;
}

.card-body {
  display: block;
  display: flex;
  width: 300px;
  color: aliceblue;
}

.card-img {
  width: 200px;
  height: 140px;
  background: #f4f4f4;
  border-radius: 5px;
  margin: 10px;
  margin-right: 0;
  display: flex;
}

img {
  margin: auto;
  width: 150px;
  height: auto;
  max-width: 160px;
}

.product-content{
  display: flex;
}

.descricao {
  height: 140px;
  background-color: #0E182B;
  display: flex;
  width: 190px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
