.background{
  padding: 15px;
  background-color: rgba(14, 24, 43, 0.85);
}

.container-relatorios {
  margin: 20px auto;
  max-width: 100%;
  padding: 20px;
}


hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 10px;
  border-top: 5px solid #FEA015;
}

mat-form-field {
  width: 100%;
}

button {
  margin-right: 10px;
}

.date-picker{
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.imput-date{
  width: 400px;
}

.relatorio-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: aliceblue;
}

.card-relatorios{
  column-count: 1;
  display: block;
  box-sizing: border-box;
  min-height: 1px;
  padding: 1.5rem;
  min-height: 1px;
  margin: 20px;
}

.btn-relatorio{
  display: block;
  width: 100%;
  height: 50px;
  padding: 5px;
  margin: 5px;
  background-color: #0e182b;
  border-color: #fea015;
}