<app-header></app-header>

<h3>Produção</h3>

<div class="container-gestao">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Número do Pedido</th>
        <th scope="col">Unidade</th>
        <th scope="col">Status</th>
        <th scope="col">Hora da Solicitação</th>
      </tr>
    </thead>
  </table>

  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Pedido: [id do pedido] </mat-panel-title>

        <mat-panel-description> Para: [unidade] </mat-panel-description>

        <mat-panel-description>
          Solicitado as: [horario de solicitação]
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table class="table">
        <thead>
          <tr>
            <td scope="col"><strong>Itens</strong></td>
            <td scope="col"><strong>Variação</strong></td>
            <td scope="col"><strong>Quantidade Solicitada</strong></td>
            <td scope="col"><strong>Obs</strong></td>
            <td scope="col"><strong>Status</strong></td>
            <td scope="col"></td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Produto:<!-- {{ item.nome }} --></td>
            <td>
              Sabor:
              <!-- {{ item.sabor }} -->
            </td>
            <td>
              Quantidade:
              <!-- {{item.quantidade}} -->
            </td>
            <td>
              <mat-label>
                <input />
              </mat-label>
            </td>
            <td class="button-status">
              <button type="button" class="btn btn-secondary">Em preparação</button>
              <button type="button" class="btn btn-success">Finalizado</button>
              <button type="button" class="btn btn-danger">Cancelado</button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
