  /* Estilo para o título */
  h3 {
    text-align: justify;
    color: #fff;
    margin: 20px;
  }

  .container-gestao{
    margin: 20px;
  }

  /* Estilo para a tabela */
  .table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
  }

  /* Estilo para as células do cabeçalho */
  .table th {
    background-color: #0E182B; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto no cabeçalho */
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    font-style: bold;
  }
  /* Efeito hover */
  .table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
  }


  mat-expansion-panel {
    margin-bottom: 1em;
    border: 1px solid #dee2e6;
    border-radius: 4px;
  }

  mat-expansion-panel-header {
    background-color: lightgrey;
    border-bottom: 1px solid #dee2e6;
    font-weight: bold; /* Estilo para o cabeçalho do painel */
  }

  mat-panel-title {
    flex: 1;
    padding: 0.5em;
    font-weight: bold;
  }

  mat-form-field {
    width: 100%;
  }

  mat-select .mat-select-placeholder {
    color: black;
  }

  mat-option {
    padding: 0.5em 1em;
  }

  /* Estilo adicional para botões (caso sejam adicionados de novo) */
  button {
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button.mat-button {
    background-color: #007bff;
    color: #fff;
  }

  button.mat-button:hover {
    background-color: #0056b3;
  }


