  h3 {
    text-align: justify;
    color: #fff;
    margin: 20px;
  }

  .container-gestao{
    margin: 20px;
  }

  .tr-head{
    border-radius: 15px;
  }

  .table th {
    background-color: #182031;
    color: #ddd;
    font-style: bold;
  }

  mat-expansion-panel {
    margin-bottom: 1em;
    border: 1px solid #dee2e6;
    border-radius: 4px;
  }

  mat-expansion-panel-header {
    background-color: lightgrey;
    border-bottom: 1px solid #dee2e6;
    font-weight: bold; /* Estilo para o cabeçalho do painel */
  }

  .button-status{
    display: flex;
    gap: 10px;
  }
