body{
  margin: 15px;
}

.card-img-top {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 100px;
}

.card-img-ex {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.pre-visualizacao{
  display: flex;
  width: 100%;
  gap: 15px;

}

.atalhos{
  display: flex;
  gap: 15px;
  justify-content: center;

}

.card{
  margin-bottom: 1rem;
  width: 50%;
  text-align: center;
}

@media (max-width: 500px) {
  .card {
    flex: 0 0 calc(50% - 1rem);
  }
}
