<app-header> </app-header>

<div class="background">
  <div class="pre-visualizacao">
    <div class="card">
      <h4>Status do seu último pedido</h4>
      <img src="./assets/statusExemplo.png" class="card-img-ex" alt="..." />
    </div>

    <div class="card">
      <h4>Produtos mais pedidos</h4>
      <img src="./assets/grafico.png" class="card-img-ex" alt="..." />
    </div>
  </div>

  <div class="atalhos container">

    <div class="card-atalho" style="width: 12rem">
      <a routerLink="/catalogo">
        <img src="./assets/produto.png" class="card-img-top" alt="..." />
        <h4>Catálogo de Produtos</h4>
      </a>
    </div>

    <div class="card-atalho" style="width: 12rem">
      <a routerLink="/pedido">
        <img src="./assets/pedido.png" class="card-img-top" alt="..." />
        <h4>Pedidos</h4>
      </a>
    </div>

    <div class="card-atalho" style="width: 12rem">
      <a routerLink="/gestao">
        <img src="./assets/producao1.png" class="card-img-top" alt="..." />
        <h4>Produção</h4>
      </a>
    </div>

    <div class="card-atalho" style="width: 12rem">
      <a routerLink="/historico">
        <img src="./assets/historico.png" class="card-img-top" alt="..." />
        <h4>Histórico de Pedidos</h4>
      </a>
    </div>

    <div class="card-atalho" style="width: 12rem">
      <a routerLink="/relatorios">
        <img src="./assets/relatorio.png" class="card-img-top" alt="..." />
        <h4>Relatórios</h4>
      </a>
    </div>
  </div>
  <hr />

  <div class="container">
    <app-tabelas></app-tabelas>
  </div>
</div>

<router-outlet> </router-outlet>
<app-footer></app-footer>
