h3 {
  text-align: justify;
  color: #fff;
  margin: 20px;
}

.container-hist{
  margin: 20px;
}

/* Estilo para o input de pesquisa e botão */
.input-group {
  display: flex;
  align-items: center;
}

.input-group .form-control {
  flex: 1;
  border-radius: 4px 0 0 4px;
  height: 56px;
}

.input-group .btn {
  border-radius: 0 4px 4px 0;
  background-color: #FEA015;
  color: #212529;
  height: 56px;
}

.input-group .btn:hover {
  background-color: #0056b3;
}

/* Estilo para o seletor de datas */
.filtro-container {
  display: flex;
  justify-content: flex-end;
}

mat-form-field {
  width: 100%;
}

mat-select {
  width: 100%;
}

mat-select .mat-select-placeholder {
  color: #6c757d;
}

mat-option {
  padding: 0.5em 1em;
}

/* Estilo para a tabela */
.table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 0.75rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dee2e6;
}

.table th {
  background-color: #0E182B; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto no cabeçalho */
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

/* Estilo para o cabeçalho do painel */
mat-expansion-panel-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
}

/* Estilo adicional para botões */
button {
  padding: 0.5em 1em;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.mat-button {
  background-color: #007bff;
  color: #fff;
}

button.mat-button:hover {
  background-color: #0056b3;
}

/* Estilo para a seta de ordenação */
.seta-container {
  display: inline-block;
  margin-left: 0.5em;
}

.seta-ordenacao {
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  cursor: pointer;
}

.ordenacao-descendente .seta-ordenacao {
  border-top: 0.5em solid #fff;
}

.ordenacao-ascendente .seta-ordenacao {
  border-bottom: 0.5em solid #fff;
}
