<app-header> </app-header>

<body>
  <div class="pre-visualizacao">
    <div class="card" >
      <h3>Status do seu último pedido</h3>
      <img src="./assets/statusExemplo.png" class="card-img-ex" alt="...">
    </div>

    <div class="card">
      <h3>[gráfico]</h3>
      <img src="./assets/grafico.png" class="card-img-ex" alt="...">
    </div>
  </div>

  <div class="atalhos">
    <a routerLink="/pedido">
      <div class="card" style="width: 18rem;">
      <img src="./assets/pedido.png" class="card-img-top" alt="...">
      <h3>Pedidos</h3>
      </div>
    </a>

  <a routerLink="/catalogo">
    <div class="card" style="width: 18rem;">
      <img src="./assets/produto.png" class="card-img-top" alt="...">
      <h3>Catálogo de Produtos</h3>
    </div>
  </a>

  <a routerLink="/gestao">
    <div class="card" style="width: 18rem;">
      <img src="./assets/producao1.png" class="card-img-top" alt="...">
      <h3>Produção</h3>
    </div>
  </a>

  <a routerLink="/historico">
    <div class="card" style="width: 18rem;">
      <img src="./assets/historico.png" class="card-img-top" alt="...">
      <h3>Histórico de Pedidos</h3>
    </div>
  </a>

  <a routerLink="/relatorios">
    <div class="card" style="width: 18rem;">
      <img src="./assets/relatorio.png" class="card-img-top" alt="...">
      <h3>Relatórios</h3>
    </div>
  </a>
  </div>

  <app-tabelas></app-tabelas>

</body>



<router-outlet> </router-outlet>
<app-footer></app-footer>
