<app-header> </app-header>

<body>
  <div class="pre-visualizacao">
    <div class="card" >
      <h3>Status do seu último pedido</h3>
      <img src="./assets/statusExemplo.png" class="card-img-ex" alt="...">
    </div>

    <div class="card">
      <h3>[gráfico]</h3>
      <img src="./assets/grafico.png" class="card-img-ex" alt="...">
    </div>
  </div>

  <div class="atalhos">
    <a routerLink="/pedido">
      <div class="card" style="width: 18rem;">
      <img src="./assets/pedido.png" class="card-img-top" alt="...">
      <h3>Pedidos</h3>
      </div>
    </a>

  <a routerLink="/catalogo">
    <div class="card" style="width: 18rem;">
      <img src="./assets/produto.png" class="card-img-top" alt="...">
      <h3>Catálogo de Produtos</h3>
    </div>
  </a>

  <a routerLink="/gestao">
    <div class="card" style="width: 18rem;">
      <img src="./assets/producao1.png" class="card-img-top" alt="...">
      <h3>Produção</h3>
    </div>
  </a>

  <a routerLink="/historico">
    <div class="card" style="width: 18rem;">
      <img src="./assets/historico.png" class="card-img-top" alt="...">
      <h3>Histórico de Pedidos</h3>
    </div>
  </a>

  <a routerLink="/relatorios">
    <div class="card" style="width: 18rem;">
      <img src="./assets/relatorio.png" class="card-img-top" alt="...">
      <h3>Relatórios</h3>
    </div>
  </a>
  </div>


  <table class="table table-striped-columns">
    <tr>
      <th>Pedido</th>
      <th>Data</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>123456</td>
      <td>24/05/24</td>
      <td>Em produção</td>
    </tr>
    <tr>
      <td>136790</td>
      <td>30/06/24</td>
      <td>Pronto</td>
    </tr>
  </table>
</body>

<app-footer></app-footer>

<router-outlet> </router-outlet>
