<app-header> </app-header>

<hr/>

<body>
  <div class="pre-visualizacao">
    <div class="card" >
      <h3>Status do seu último pedido</h3>
      <img src="..." class="card-img-top" alt="...">
    </div>

    <div class="card">
      <h3>[gráfico]</h3>
      <img src="..." class="card-img-top" alt="...">
    </div>
  </div>

  <div class="atalhos">
    <div class="card" style="width: 18rem;">
      <h3>Pedidos</h3>
      <img src="..." class="card-img-top" alt="...">
    </div>

    <div class="card" style="width: 18rem;">
      <h3>Catálogo de Produtos</h3>
      <img src="..." class="card-img-top" alt="...">
    </div>

    <div class="card" style="width: 18rem;">
      <h3>Produção</h3>
      <img src="..." class="card-img-top" alt="...">
    </div>

    <div class="card" style="width: 18rem;">
      <h3>Histórico de Pedidos</h3>
      <img src="..." class="card-img-top" alt="...">
    </div>

    <div class="card" style="width: 18rem;">
      <h3>Relatórios</h3>
      <img src="..." class="card-img-top" alt="...">
    </div>
  </div>
  

  <table class="table table-striped-columns">
    <tr>
      <th>Pedido</th>
      <th>Data</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>123456</td>
      <td>24/05/24</td>
      <td>Em produção</td>
    </tr>
    <tr>
      <td>136790</td>
      <td>30/06/24</td>
      <td>Pronto</td>
    </tr>
  </table>
</body>

<app-footer></app-footer>

<router-outlet> </router-outlet>
